body {
  font-size: 16px;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: black;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.main-title{
  text-align: center;
  font-weight: bold;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header .navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
